@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #1e1e1e;
	color: white;
	font-family: 'Poppins', sans-serif;
}
/* Game */
.tictactoe {
	width: 100%;
	max-width: 900px;
	margin: 0px auto;
	text-align: center;
}
.information {
	display: flex;
	align-items: center;
	justify-content: center;
}
.information-box {
	padding: 20px;
}
/* Table */
.row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.cell {
	padding: 20px;
	text-align: center;
	height: 30px;
}
.table-0-1,
.table-2-1 {
	border-left: solid 2px black;
	border-right: solid 2px black;
}
.table-1-0,
.table-1-2 {
	border-top: solid 2px black;
	border-bottom: solid 2px black;
}
.table-1-1 {
	border: solid 2px black;
}
